<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Workspace lives in the app's own external-files dir (Android/data/<package>/files/Vscode),
         which needs no runtime permission on any Android version. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.VscTerminal"
        android:supportsRtl="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.VscTerminal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ExplorerActivity"
            android:exported="false"
            android:theme="@style/Theme.VscTerminal" />

        <activity
            android:name=".EditorActivity"
            android:exported="false"
            android:theme="@style/Theme.VscTerminal" />

    </application>
</manifest>
